.settings-form {
  display: flex;
  flex-direction: column;
  background-color: #181a1b;
  padding: 2rem;
  border-radius: 4px;
}

.settings-form__save-button-container {
  display: flex;
  justify-content: flex-end;
}

.settings-form__save-button {
  width: 100px;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #44494c;
}
