.settings-form {
  display: flex;
  flex-direction: column;
  background-color: #932420;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.settings-form__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.settings-form__title {
  font-size: 4rem;
}

.settings-form__middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.settings-form__middle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.settings-form__bottom {
  display: flex;
  justify-content: flex-end;
}

.settings-form__bottom button {
  margin-left: 0.5rem;
}
