.settings-input {
  display: flex;
  flex-direction: column;
  height: 8rem;
}

.settings-input__label {
  font-size: 1.2rem;
}

.settings-input__input {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}

.settings-input__input-error {
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.settings-input__error-text {
  color: #ff0019;
}
