.timer-top {
  display: flex;
  margin-bottom: 0.5rem;
}

.timer-top__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.timer-top__end {
  display: flex;
  justify-content: flex-end;
}

.timer-top__restart-button {
  padding: 0.5rem;
}

.timer-top__restart-button-svg {
  transform: scale(1);
}
