.counter {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.counter__content {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 2rem 4rem;
}

.counter__colon {
  font-size: 6rem;
  font-weight: bold;
  margin: 0 2rem;
}

@media screen and (max-width: 768px) {
  .counter__colon {
    font-size: 4rem;
    margin: 0 1rem;
  }

  .counter__content {
    padding: 1rem 2rem;
  }
}
