.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.timer__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 42rem;
  height: 28rem;
  padding: 2rem;
  transition: 1s;
}

.timer__top {
  display: flex;
  justify-content: space-between;
}

.timer__middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.timer__bottom {
  display: flex;
  justify-content: center;
}

.timer__bottom button {
  margin: 0 0.25rem;
}

@media screen and (max-width: 768px) {
  .timer__content {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}
