.start-stop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: bold;
  color: #db5f5b;
  background-color: #181a1b;
}
