.counter-input {
  text-align: center;
  width: 150px;
  font-size: 6rem;
  background-color: transparent;
  outline: none;
}

@media screen and (max-width: 768px) {
  .counter-input {
    font-size: 4rem;
    width: 80px;
  }
}
