.time-paragraph {
  width: 200px;
  text-align: center;
  background-color: #181a1b;
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding: 1rem;
}
