.timer-count {
  display: flex;
  text-align: center;
  background-color: #181a1b;
  padding: 1rem 4rem;
  margin: 2rem 0;
  font-size: 6rem;
  font-weight: bold;
  border-radius: 4px;
}

.timer-count__colon {
  margin: 0 2rem;
}
