.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #86221f;
  border-radius: 10px;
}

.timer__inputs {
  display: flex;
  margin: 0 0 2rem;
}

.timer__colon {
  font-size: 4rem;
  margin: 1rem;
}
