.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.timer__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 750px;
  height: 450px;
  padding: 2rem;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .timer__content {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}
