.settings-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.1s;
}

.settings-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-button__icon {
  transform: scale(1.5);
}
