.svg-button {
  padding: 0.8rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.1s;
  margin: 0 0.25rem;
}

.svg-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.svg-button__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}
