.settings-button-check {
  display: flex;
  flex-direction: column;
}

.settings-button-check__label {
  font-size: 1.2rem;
}

.settings-button-check__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.settings-button-check__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
