* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: #fff;
  background-color: #932420;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
}

input {
  color: #fff;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  outline: none;
}

input[type='range'] {
  -webkit-appearance: none;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
