.settings-form {
  display: flex;
  flex-direction: column;
  background-color: #181a1b;
  padding: 2rem;
  border-radius: 4px;
}

.settings-form__inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.settings-form__save-settings-button {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .settings-form {
    top: 50px;
    width: 95%;
  }
}
